.currency-selector-fixed {
  position: fixed;
  top: 80px;
  right: 40px;
  z-index: 9999;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* When visible (scrolling up) */
.selector--visible {
  transform: translateY(0);
  opacity: 1;
}

/* When hidden (scrolling down) */
.selector--hidden {
  transform: translateY(100px); /* Push it out of view */
  opacity: 0;
}

.currency-selector-fixed select {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
@media (max-width:750px){
 .currency-selector-fixed {
  position: fixed;
  top: 50px;
  right: 2px;
  z-index: 9999;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
 
}