.explore-menu{
    display: flex;
    flex-direction:column ;
    gap: 1px;
    padding-top: 20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 600;
    margin-bottom: 5px;

}
.explore-menu-text{
    max-width: 70%  ;
    columns: #808080;
}
.explore-menu-list{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;

}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    height: 7.5vw;
    position: relative;
    min-width:80px ;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    animation: fadeIn 0.5s;
}
.explore-menu-list-item p{
    margin-top: 5px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
    font-weight: 500;
}
.explore-menu hr{
    margin: 2px 0px;
    height: 4px;
    background-color: #e2e2e2;
    border: none;
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
    
}
.explore-menu-list-item .text-active{
    color: rgb(68, 3, 3);
    font-weight: 600;
}
.animated-gradient-hr {
  height: 4px;
  border: none;
  border-radius: 2px;
  background: linear-gradient(270deg, #fa0408, #e7c51f, #ea1013,#1a4354, #2c5364, #b4ca20
);
  background-size: 400% 400%;
  animation: animateGradient 6s ease infinite;
  margin-top: 30px;
  width: 100%;
}
.explore-menu-list-item:hover img{
    transform: scale(1.05);
    box-shadow:0px 0px 10px rgb(0,0,0,0.2);
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
    .explore-menu-list-item img{
        width: 14vw;
        height: 19.5vw;
    }
    
}
@media(max-width:750px){
    .explore-menu h1{
    color: #262626;
    font-weight: 600;
    margin-bottom: 1px;
    font-size: 25px;

}
}