.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* width: 100%; */
    top: 0;
    transition: top 0.3s;
    z-index: 999;
    background-color: rgb(251, 56, 56);
    padding-bottom: 20px;
    max-height: 80px;
    gap: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(92, 82, 82);
    /* gap: 20px; */
    left: 0;
    right: 0;
    width: 100vw;
    /* Force full viewport width */
    box-sizing: border-box;
}




.navbar--hidden {
    top: -60px;
}

.navbar--visible {
    top: 0;
}

.navbar-menu {

    padding: 2px;
    gap: 20px;
    list-style: none;
    display: flex;
    color: white;
    font-size: 18px;
    width: 550px;

}

.abc {
    text-underline-offset: none;
    text-decoration: none;
    color: white;



}

.navbar-right {
    display: flex;
    gap: 20px;
    padding: auto;
    align-items: center;
}

.navbar .nav-logo {
    width: 190px;
    height: fit-content;
    position: flex-start;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 2px;





}

.navbar .logo-right {
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.navbar .logo-profile {
    width: 45px;
    height: 50px;
    cursor: pointer;

}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: white;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

}

.navbar button:hover {
    background-color: #f72b08;

}

.navbar .active {
    padding-bottom: -4px;

    border-bottom: -6px solid;

    color: rgb(40, 10, 238);
    font-weight: 500;

}

.navbar-search-icon {
    position: relative;

}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: white;
    border-radius: 25px;
    top: -8px;
    right: -8px;
    font-weight: bold;


}

.navbar hr {

    margin: 10px 0px;
    height: 2px;
    background-color: #ecb1b1;
    border: none;
    position: absolute;
    top: 90px;
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;

}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    list-style: none;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30;
    }

    .navbar-right img {
        width: 22px;

    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar {
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        transition: top 0.3s;
        z-index: 999;
        background-color: rgb(251, 56, 56);
        padding-bottom: 5px;
        max-height: 50px;
        gap: 1px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid rgb(92, 82, 82);
        /* gap: 20px; */
    }

    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 20;
    }

    .navbar-right img {
        width: 20px;

    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {


    .navbar-menu {
        display: none;
    }

    .navbar .logo {
        width: 60px;
    }

    .navbar .logo-right {
        width: 25px;
        height: 25px;
        cursor: pointer;

    }

    .navbar .nav-logo {
        width: 90px;
        height: fit-content;
    }

    .navbar-right {
        gap: 15px;
    }

    .navbar .logo-profile {
        width: 35px;
        height: 35px;
        cursor: pointer;

    }

}